.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .header a {
    color: white;
    text-decoration: none;
  }
  .header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 50px;
    margin-top: 18px;
  }
  
  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  
  .header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
  }
  
  .header img {
    margin-bottom: 27px;
  }
  
  .header__optionLineOne {
    font-size: 10px;
  }
  
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }
  
  .header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .header__nav {
    display: flex;
    justify-content: space-evenly;
  }
  
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }
  nav {
    width: 100%;
    margin: 20px;
    height: 48px;
    
    margin-left: 190px;
    justify-content: space-between;
    padding-left: 200px;
     color: rgb(255, 255, 255); 
}

nav ul {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
}

nav li{
  text-decoration: none;
}

  
 
  